<div class='card blog-card'>
    <div class='blog-text'>
        <div class='blog-title'><%= post[:title] %></div>
        <div class='blog-category'><%= post[:category] %></div>
    </div>
    <div class='blog-arrow'>
        <a href="<%= post[:url] %>" target="_blank">
            <i class="fas fa-arrow-right"></i>
        </a>
    </div>
</div>