<a href="<%= post[:url] %>" target="_blank" class='card blog-card'>
    <div class='blog-text'>
        <div class='blog-title'><%= post[:title] %></div>
        <div class='blog-category'><%= post[:category] %></div>
        <div class='blog-content'>
            <%= raw post[:content] %>
        </div>
    </div>
    <div class='blog-arrow'>
        <i class="fas fa-arrow-right"></i>
    </div>
</a>