<div class = "dairy-container">
    <div class='dairy-title'>
        My 
        <div class="dropdown">
            <button class="dropbtn"><span><%= params[:page] || 'thoughts'%></span> <i class="fas fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a href="/dairy">thoughts</a>
                <a href="/dairy?page=scripts">scripts</a>
                <a href="/dairy?page=reels">reels</a>
            </div>
        </div>
    </div>

    <div class='dairy-summary'>
        <%# I'm mapping my own journey of evolution by sharing my thoughts in this space. 
        Posting them publicly feels a bit naive to me, but I don't want to keep them 
        locked up in my notes either. My thoughts are constantly evolving, and I want 
        to see them improve. Sharing them here seems like a good way to track my personal progress.
        Feel free to shoot me a DM or email 
        if any of these thoughts spark a desire to talk. Happy reading! %>
        Figuring out life one post at a time:
    </div>

    <div class='dairy-post-container'>
        <% @blog_posts.each do |post| %>
            <%= render partial: 'shared/card', locals: { post: post } %>
        <% end %>
        <p>
            <%=link_to 'Subscribe or view more posts', 'https://world.hey.com/rushi.patel?page=eyJwYWdlX251bWJlciI6MiwidmFsdWVzIjp7ImNyZWF0ZWRfYXQiOiIyMDIzLTEyLTI0VDE5OjM2OjAxLjU1ODc5M1oiLCJpZCI6MzM3NjV9fQ%3D%3D', class: 'link_to', target: '_blank', onclick: "sendGtagEvent('link_click', 'outbound', 'Subscribe or view more posts');" %>
            <i class="fas fa-arrow-right"></i>
        </p>
        <p>P.S. I'll soon be migrating all my posts to right here.</p>
    </div>
</div>

<script type="module">
    import { sendGtagEvent } from "tracking"
    import { initializePopup } from "initializePopup";
    initializePopup('<%= @open_post_id %>');
    sendGtagEvent('views_per_page', 'page_view', 'Dairy');
</script>