<div class='education-container'>
    <div class='education-title'>My Education</div>

    <div class='education-summary'>
        After completing my undergraduate studies in the field of Computer Science, 
        I wanted to give my entrepreneurial desire a chance.
        It was definitely one of the riskiest decisions I made at that time.
        Here's
        <%= render partial: 'shared/link', locals: { post: @home_blog_posts[:more_about_entrp_experience] } %>
        All about my education history:
    </div>

    <% @education.each do |edu| %>
        <hr>
        <%= render partial: 'education', object: edu, as: 'edu' %>
    <% end %>
</div>

<script type="module">
    import { sendGtagEvent } from "tracking"
    sendGtagEvent('views_per_page', 'page_view', 'Education');
</script>
