<div class='education-container'>
    <div class='education-title'>My Education</div>

    <div class='education-summary'>
        After completing my undergraduate studies in the field of Computer Science, 
        I wanted to give my entrepreneurial desire a chance. 
        Read <%=link_to 'why I chose entrepreneurship', '#', class: 'link_to' %>.
        It's definitely one of the riskiest decisions I've made.
        Read 
        <%=link_to 'more about it', '#', class: 'link_to' %>.
        Here's all about my education history:
    </div>

    <% @education.each do |edu| %>
        <hr>
        <%= render partial: 'education', object: edu, as: 'edu' %>
    <% end %>
</div>
