<div class="image-grid">
  <div class="image image-1-2x1">
    <img src="/images/home_page/paris-seating.png" alt="Paris">
  </div>
  <div class="image image-2-3x1">
    <img src="/images/home_page/paris-speaking.png" alt="Paris">
  </div>
  <div class="image image-3-1x1">
    <img src="/images/home_page/saas-north-id.png" alt="Saas north">
  </div>
  <div class="image image-4-1x1">
    <img src="/images/home_page/covocation-stage-walk.png" alt="Convocation">
  </div>
  <div class="image image-5-2x1">
    <img src="/images/home_page/covocation-degree-certificate.png" alt="Convocation">
  </div>
</div>