<div class='tech-stack-icon-div'>
    <div class="card tech-stack-card">
        <img src="/images/home_page/rails-icon.png" alt="Rails">
    </div>
    <div class="card tech-stack-card">
        <img src="/images/home_page/ruby-icon.png" alt="Ruby">
    </div>
    <div class="card tech-stack-card">
        <img src="/images/home_page/react-icon.png" alt="React">
    </div>
    <div class="card tech-stack-card">
        <img src="/images/home_page/js-icon.png" alt="JS">
    </div>
</div>