<div class='home-page'>
    <p>I'm a seeker, who's on a quest for truth, 
    constantly striving to evolve and explore the deeper 
    dimensions of my being, beyond the ephemeral. 
    Follow my personal journey of evolution -></p>
    <%= render 'image_grid' %>
</div>
