<div class='exp-container'>
    <div>
        <div class='exp-title'><%= exp[:title] %></div>
        <div class='exp-company'><%= exp[:company] %></div>
        <div class='exp-duration'><%= exp[:duration] %></div>
    </div>
    <% exp[:description].each do |desc| %>
        <div class='exp-description'><%= desc %></div>
    <% end %>
</div>