<div class='work-container'>
    <div class='work-title'>My Work</div>

    <div class='work-summary'>
        On a daily basis, I utilize my software skills to bring ideas to life, 
        continually refining them along the way. I enjoy 
        <%=link_to 'comprehending user needs', tech_index_path, class: 'link_to' %>
        and transforming them into practical, 
        efficient software solutions. Here's all about my professional journey thus far:
    </div>

    <% @work.each do |work_exp| %>
        <hr>
        <%= render partial: 'experience', object: work_exp, as: 'exp' %>
    <% end %>
</div>
