<div class='work-container'>
    <div class='work-title'>My Work</div>

    <div class='work-summary'>
        On a daily basis, I utilize my software skills to bring ideas to life, 
        continually refining them along the way. I enjoy 
        comprehending user needs
        and transforming them into practical, 
        <%= render partial: 'shared/link', locals: { post: @home_blog_posts[:link_efficient_solutions] } %>
        Here's all about my professional journey thus far:
    </div>

    <% @work.each do |work_exp| %>
        <hr>
        <%= render partial: 'experience', object: work_exp, as: 'exp' %>
    <% end %>
</div>

<script type="module">
    import { sendGtagEvent } from "tracking"
    sendGtagEvent('views_per_page', 'page_view', 'Work');
</script>