<div class = "dairy-container">
    <% if @tech_posts.empty? %>
        <div class='work-in-progress'>
            No tech posts available at the moment. Please check back later!
        </div>
    <% else %>
        <div class='dairy-title'>Tech Posts</div>

        <div class='dairy-summary'>
            I write about software development, user experience, project management, or anything else that I learn. 
            I'm aggregating my tech posts and adding some new ones. You'll find more posts here very soon!
        </div>
        <% @tech_posts.each do |post| %>
            <%= render partial: 'shared/card', locals: { post: post } %>
        <% end %>
    <% end %>
    <p>
        <%=link_to 'View all my tech posts on', 'https://www.linkedin.com/in/rushipatel-/recent-activity/all/', class: 'link_to' %>
        <i class="fab fa-linkedin"></i>
        <i class="fas fa-arrow-right"></i>
    </p>
    <p>P.S. I'll soon be migrating all my posts to right here.</p>
</div>