/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'variables';
@import 'font-awesome';
@import "home";
@import "navbar";

@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/Geist-Regular.woff2') format('woff2'),
         url('/fonts/Geist/Geist-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
html {
    min-width: $screen-unreal;
}
body{
    font-family: 'Geist', Helvetica, sans-serif; 
    width: 45rem;
    margin: 2rem auto;
}
.hey-im-rushi{
    width: fit-content;
    font-size: 1.5rem;
    margin: 2rem auto;
    .fa-hand-spock{
        color: chocolate;
    }
}

@media (max-width: $screen-md) {
    body{
        width: 90%;
    }
}