/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "home";
@import "navbar";
/* public/assets/font probably isn't the right place, since we don't commit that thing. Find best place to add Geist font files*/
@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/Geist-Regular.woff2') format('woff2'),
         url('/fonts/Geist/Geist-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Geist', Helvetica, sans-serif; 
    width: 50%;
    margin: 2rem auto 2rem auto;
}