@import 'variables';

.blog-card{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.blog-text{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.blog-title{
    font-weight: 600;
}
