@import 'variables';

.education-container{
    display: grid;
    margin-top: 3rem;
    gap: 1rem;
    font-size: $normal;
}
.education-title{
    font-size: $medium;
}
hr{
    width: 100%;
}
.education-summary{
    font-weight: $light;
}
.edu-container{
    display: grid;
    gap: 1rem
}
.edu-title{
    font-size: $normal;
    font-weight: $bold;
}
.edu-company{
    font-size: $normal;
}
.edu-duration{
    font-size: $small;
}
.edu-description{
    font-weight: $light;
}
