@import 'variables';

.home-page{
    display: grid;
    margin-top: 3rem;
    gap: 3rem;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 100px);
    grid-gap: 10px;
    grid-template-areas: 
    "paris-seating paris-speaking saas-north-id"
    "paris-seating paris-speaking convocation-degree-certificate"
    "convocation-stage-walk paris-speaking convocation-degree-certificate"
    "convocation-stage-walk paris-speaking convocation-degree-certificate";
}
.image img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.image-1-2x1{
    grid-area: paris-seating;
}
.image-2-3x1{
    grid-area: paris-speaking;
}
.image-3-1x1{
    grid-area: saas-north-id;
}
.image-4-1x1{
    grid-area: convocation-stage-walk;
}
.image-5-2x1{
    grid-area: convocation-degree-certificate;
}
.tech-stack-icon-div{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.tech-stack-card{
    margin-top: 1rem;
    width: fit-content;
    height: 2rem;
    padding: 10px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    img{
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
.follow-me{
    text-align: center;
}
.home-tech-post-div{
    display: grid;
    gap: 1rem;
}
.react-icon-sm{
    display: none;
}
.react-icon-lg{
    display: block;
}
@media (max-width: $screen-md) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 100px);
        grid-template-areas: 
        "paris-seating saas-north-id"
        "paris-seating convocation-stage-walk"
        "paris-speaking convocation-stage-walk"
        "paris-speaking convocation-degree-certificate"
        "paris-speaking convocation-degree-certificate"
        "paris-speaking convocation-degree-certificate"
    }
}
@media (max-width: $screen-sm) {
    .tech-stack-card{
        img{
            height: 80%;
        }
    }
}
@media (max-width: $screen-xs) {
    .tech-stack-icon-div{
        gap: 0.4rem;
    }
    .react-icon-sm{
        display: block;
    }
    .react-icon-lg{
        display: none;
    }
}

