@import 'variables';

.navbar{
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-weight: $light;
    .nav-link{
        text-decoration: none;
        cursor: pointer;
        color: inherit;
        &.active{
            font-weight: $semi-bold;
        }
    }
}

@media (max-width: $screen-xs) {
    .navbar{
        justify-content: space-around;
        gap: unset;
    }
}