.work-container{
    display: grid;
    margin-top: 3rem;
    gap: 1rem;
    font-size: 1rem;
}
.work-title{
    font-size: 1.2rem;
}
hr{
    width: 100%;
}
.exp-container{
    display: grid;
    gap: 1rem
}
.exp-title{
    font-size: 1.2rem;
    font-weight: 600;
}
.exp-company{
    font-size: 1.1rem;
}
